<footer>
        
      <p class="social">

        <div class="icons">
            <a href="https://uk.pinterest.com/rossnelson41/" target="_blank"><img src="img/pinterest.svg" width="44px" height="44px"></a>
            
            <a href="https://www.tumblr.com/blog/rossnelsonn" target="_blank"><img src="img/tumblr.svg" width="44px" height="44px"></a>
            
            <a href="https://github.com/rossnelsonn" target="_blank"><img src="img/github.svg" width="44px" height="44px"></a>

        </div>

    </footer>
        
        
        
        
        
    </body>
</html>