 <header>
                      <nav class="animated fadeIn"> 
                          <div class="res-nav">
        <a href="index.html"><img class="logo" src="img/n-01.png" width="38" height="45" alt="Monogram"></a>
          </div>
                          <ul>
                              <li><a href="index.html">Home</a></li>
                              <li><a href="#about">About</a></li>
                              <li><a href="#portfolio">Portfolio</a></li>
                              <li><a href="#contact">Contact</a></li>
                              <li><a href="cv.html">CV</a></li>                             
                          </ul>
            </nav>
        </header>